/* style.css */

body {
  font-family: 'Garamond', sans-serif; /* A modern, clean font */
  margin: 0;
  padding: 0;
  background-color: #222; /* Dark background */
  color: #fff; /* Light text color */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: justify; /* Justify text for better readability */
}

main h2 {
  text-align: center;
  color: #f0f0f0; /* Lighter heading color */
}

main section {
  margin-bottom: 20px;
}

main ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
